body {
  font: 10px sans-serif;
}

.chart {
  height: 500px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
	fill: steelblue;
}

.dot.active {
  fill: red;
}

.tt {
  background-color: white;
  font-size: 13px;
  position: absolute;
  display: none;
  padding: 8px;
  box-shadow: 2px 2px 6px #666;

}

.tt .date {
  font-size: 11px;
  color: #999;
  text-transform: uppercase;
}

.tt .val {
  font-size: 18px;
  font-weight: bold;
}
  
